.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
# exclude the icon files from being ignored
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
